@font-face {
    font-family: Diablo;
    src: url("avqest.ttf");
}

.unique-text {
    color: #c7b790ed;
}

.set-text {
    color: #478e47;
}

.enhanced {
    color: #6f5df7;
}

.set-header {
    font-size: 26px;
}

.requirement {
    color: #ef4f4f;
}

.runes span {
    padding: 0px 5px 0px 5px;
}

.runeword-types span {
    padding: 0px 5px 0px 5px;
}

body {
    background: black;
}

a:hover {
    color: #5a5a5a;
}

.nav-link.active {
    background-color: #4a4a4a6e;
}

.content {
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 90px;
}

.items-content {
    border: 5px solid #1c1c1c;
    background-color: #101010;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    width: 100%;
}

.item {
    background: rgba(1, 1, 1, 0);
    text-align: center;
    line-height: 17.3pt;
    font-family: Diablo;
    font-weight: 100;
    font-size: 18px;
    margin: 10px;
    border-bottom: #8c8c8c2e solid 1px;
    border-top: #8c8c8c2e solid 1px;
}

.item-table {
    margin: 0 auto;
}

.header {
    font-family: Diablo;
    font-size: 20px;
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

.page-title {
    font-size: 36px;
    margin-left: 50px;
}

.search {
    font-family: Diablo;
    font-size: 15.4px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.05em solid #5a5a5a;
    height: auto;
    width: auto;
    margin: 5px;
    float: right;
}

.search-bar li input, .search-bar li select {
    height: auto;
    width: auto;
    margin: 5px;
    font-family: Diablo;
    font-size: 15.4px;
}

label, td, th, a, .page-item, .dataTables_info, span, a.page-link, .sr-only {
    color: #afafaf;
}

.content .row {
    margin-left: 0px;
    margin-right: 0px;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.search-bar {
    width: 960px;
    padding-top: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    border-radius: 5px;
    margin: 5px auto;
    padding-right: 10px;
}

.filter-input{
    background-color: rgba(255, 255, 255, 0.8);
}

.footer{
    text-align: center;
    margin: 10px;
}